/**
 *  lib_loremgen frontend styles
 *
 */

.lib_loremgen {
    display: block;
    max-width: 60%;
}

/** books **/
.lorem_books_firstname {
    font-variant: small-caps;
    letter-spacing: 0.05em;
}
.lorem_books_title {
    font-style: italic;
    letter-spacing: 0.02em;
}
.lorem_books_isbn {
    letter-spacing: 0.05em;
}
