<!-- lib_loremgen - simple form 2 -->
<h3>A simple example</h3>
<form action="#" method="post">
	<label for="loremgen_example_text">Name</label><input type="text" value="" id="loremgen_example_text" placeholder="your text"/>
	<label for="loremgen_example_textarea">Text</label><textarea name="text" id="loremgen_example_textarea">LoemIpsum and the rest</textarea>
	
	<input class="loremgen" type="reset" value="reset" />
	<input class="loremgen" type="submit" value="Send" />
</form>
