<!-- lib_loremgen - simple form 1 -->
<h3>Einfache Beispielform</h3>
<form action="#" method="post">
	<label for="lorem_example_text">Name</label><input type="text" value="" id="lorem_example_text"/>
	<label for="lorem_example_textarea">Text</label><textarea name="text" id="lorem_example_textarea">Beispiel</textarea>
	
	<input class="lorem" type="reset" value="Zurücksetzen" />
	<input class="lorem" type="submit" value="Abschicken" />
</form>
